
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img 
                            src="images/profile.png" 
                            width="156px" 
                            height="142px" 
                            alt=""
                       />
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Facebook.svg" class="icon-1"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Instagram.svg" class="icon-1"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Twitter.svg" class="icon-1"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Linkeding.svg" class="icon-1"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Youtube.svg" class="icon-1"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Dribbble.svg" class="icon-1"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <!-- LEFT 2 starts -->
                <div class="left_2">
                    <div class="age_details">
                        <div class="age">Age:</div>
                        <div class="age_txt">24</div>
                    </div>   
                    <div class="residency_details">
                        <div class="residency">Residence:</div>
                        <div class="cur_res">Seoul, S.Korea</div>
                    </div>
                    <div class="freelance_sec">
                        <div class="freelancing">Freelance:</div>
                        <div class="freelance_txt">Available</div>
                    </div>
                    <div class="address_sec">
                        <div class="origin_address">Address:</div>
                        <div class="cur_add">Seoul, South Korea</div>
                    </div>
                </div>
                <div class="marginer"></div>


                <div class="left_3">
                    <div class="language_title">Languages</div>

                    <div class="language_container">
                        <div class="language_txt">Uzbek</div>
                        <div class="language">100%</div>
                    </div>
                    <div class="percent_bar_main">
                        <div class="percent_bar_1"></div>
                    </div>
                    <div class="language_container">
                      <div class="language_txt">English</div>
                      <div class="language">85%</div>
                    </div>
                    <div class="percent_bar_main">
                      <div class="percent_bar_2"></div>
                    </div>
        
                    <div class="language_container">
                      <div class="language_txt">Korean</div>
                      <div class="language">90%</div>
                    </div>
                    <div class="percent_bar_main">
                      <div class="percent_bar_3"></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div class="language_title">Skills</div>
                    <div class="language_container">
                        <div class="language_txt">HTML</div>
                        <div class="language_txt">90%</div>
                    </div>
                    <div class="percent_bar_main">
                        <div class="percent_bar_4"></div>
                    </div>
                    <div class="language_container">
                        <div class="language_txt">CSS</div>
                        <div class="language_txt">80%</div>
                    </div>
                    <div class="percent_bar_main">
                        <div class="percent_bar_5"></div>
                    </div>
          
                    <div class="language_container">
                        <div class="language_txt">JS</div>
                        <div class="language_txt">80%</div>
                    </div>
                    <div class="percent_bar_main">
                        <div class="percent_bar_6"></div>
                    </div>
                    <div class="language_container">
                        <div class="language_txt">ReactJS</div>
                        <div class="language_txt">50%</div>
                    </div>
                    <div class="percent_bar_main">
                        <div class="percent_bar_7"></div>
                    </div>
                    <div class="language_container">
                        <div class="language_txt">NodeJS</div>
                        <div class="language_txt">60%</div>
                    </div>
                    <div class="percent_bar_main">
                        <div class="percent_bar_8"></div>
                    </div>
                </div>
                <div class="marginer"></div>

                <div class="left_5">
                    <div class="language_title">Extra Skills</div>
                    <div class="extra_skill_main">
                        <img src="icon/Icons.svg" alt="" height="15px" width="15px" />
                        <div class="skill_text">Bootstrap, Materialize</div> 
                    </div>
                    <div class="extra_skill_main">
                        <img src="icon/Icons.svg" alt="" height="15px" width="15px" />
                        <div class="skill_text">Stylus, Sass, Less</div>  
                    </div>
                    <div class="extra_skill_main">
                        <img src="icon/Icons.svg" alt="" height="15px" width="15px" />
                        <div class="skill_text">Gulp, Webpack, Grunt</div>       
                    </div>
                    <div class="extra_skill_main">
                        <img src="icon/Icons.svg" alt="" height="15px" width="15px" />
                        <div class="skill_text">GIT Knowledge</div>
                    </div>
                </div>
                <div class="marginer"></div>
            </div>
            <div class="middle_frame">
                <div class="pointer_container">
                    <div class="desc_container">
                        <div class="job_title">Doctor neurologists in OHSU hospital</div>
                        <div class="job_desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                            volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                            suspendisse nunc lectus.
                        </div>
                        <button class="hire_me_btn">HIRE ME →</button>
                    </div>
                    <img src="images/Your Image 1.png" alt="">
                </div>
                <div class="my_service_container">
                    <div class="service_title">My Services</div>
                    <div class="service_text">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet sint. Velit officia consequat duis enim velit mollit. lorem
                        ipsum
                    </div>
                </div>
                <div class="mid_frame_skill_sec">
                    <div class="mid_frame_skill_container">
                        <img 
                        src="images/Icons_coding.png" 
                        alt=""
                        class="mid_frame_skill_icon1"
                        />
                        <div class="mid_frame_skill_title">Web Development</div>
                        <div class="mid_frame_skill_txt">Blog, E-commmerce</div> 
                    </div> 
                    <div class="mid_frame_skill_container">
                        <img 
                        src="images/Icons_Illustration.png" 
                        alt=""
                        class="mid_frame_skill_icon1"
                        />
                        <div class="mid_frame_skill_title">UI/UX Design</div>
                        <div class="mid_frame_skill_txt">Mobile app, Website Design</div> 
                    </div>
                    <div class="mid_frame_skill_container">
                        <img 
                        src="images/Icons_Microphone.png" 
                        alt=""
                        class="mid_frame_skill_icon1"
                        />
                        <div class="mid_frame_skill_title">Sound Design</div>
                        <div class="mid_frame_skill_txt">Voice Over, Beat Making</div> 
                    </div>    
                </div>
                <div class="mid_frame_skill_sec">
                    <div class="mid_frame_skill_container">
                        <img 
                        src="images/Icons_game-development.png" 
                        alt=""
                        class="mid_frame_skill_icon1"
                        />
                        <div class="mid_frame_skill_title">Game Design</div>
                        <div class="mid_frame_skill_txt">Character Design, Props & Objects</div> 
                    </div>
                    <div class="mid_frame_skill_container">
                        <img 
                        src="images/Icons_Photographer.png" 
                        alt=""
                        class="mid_frame_skill_icon1"
                        />
                        <div class="mid_frame_skill_title">Photography</div>
                        <div class="mid_frame_skill_txt">Portait, Product Photography</div> 
                    </div> 
                    <div class="mid_frame_skill_container">
                        <div class="mid_frame_skill_txt1">Advertising</div>
                        <div class="mid_frame_skill_title1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                            nulla diam in ac dictum a urna viverra morbi.
                        </div>
                        <div class="mid_frame_skill_btn">ORDER NOW</div>
                    </div>  
                </div>
            </div>

            <div class="right_frame">
                <a class="link_href" href="">
                    <div class="icon-4">
                        <img src="images/Icons_Contrast.png" class="icon-2" alt="">
                    </div>
                </a>
                <div class="right_frame_btn_container">
                    <a class="link_href" href="">
                        <div class="icon-4">
                         <img src="icon/Icons_Home.svg" class="icon-2" alt="" />
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="icon-4">
                         <img src="icon/Service.svg" class="icon-2" alt="" />
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="icon-4">
                         <img src="images/Cv.png" class="icon-2" alt="" />
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="icon-4">
                         <img src="icon/Portfolio.svg" class="icon-2" alt="" />
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="icon-4">
                         <img src="images/Icons_Blog.png" class="icon-2" alt="" />
                        </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="icon-4">
                         <img src="images/Contact.png" class="icon-2" alt="" />
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</body>

</html>